<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/e9f99aff74.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">
    <title>The World</title>
</head>
<body>
        <div class="container">
            <header class="header">
                <div class="header__content">
                    <p class="title"> Where in the world?</p>
                </div>
            </header>
            <main class="main">
                <header class="main__header">
                    <input @keyup="input" type="text" class="input input--search" placeholder="Search for a country...">
                    <select @change="region" name="region" class="input select">
                        <option value="all" selected >Filter by Region</option>
                        <option value="africa">Africa</option>
                        <option value="america">America</option>
                        <option value="asia">Asia</option>
                        <option value="europe">Europe</option>
                        <option value="oceania">Oceania</option>
                    </select>
                </header>
                <section class="content hidden">
                    <div @click="show(); details_pays(pay)" class="content__pays" v-for="pay in pays" :key="pay.translations.fra">
                        <img  :src="pay.flags.png" class="img-pays"></img>
                        <div class="description-pays">
                            <p class="name-pays">{{pay.name.common}}</p>
                            <p class="data-pays"><span class="data">Population:</span> {{ parseNumber(pay.population) }}</p>
                            <p class="data-pays"><span class="data">Region:</span> {{pay.region}}</p>
                            <p class="data-pays" v-for="cap in pay.capital"><span class="data">Capital:</span> {{cap}}</p>
                        </div>
                    </div>
                </section>
            </main>
            <section class="container__details hidden" >
                <button @click="show()" class="btn"><i class="fa-sharp fa-solid fa-arrow-left"></i><span id="back">Back</span></button>
                <div class="container__details__data" v-if="pays_detail">
                    <div class="img_pays">
                        <img :src="pays_detail.flags.png" alt="" class="details_img">
                    </div>
                    <div class="details">
                    <p class="name-pays--details">{{pays_detail.name.common}}</p>
                    <div class="all-data">
                        <div class="all-data__left">

                            <p><span class="data">Population:</span> {{parseNumber(pays_detail.population)}}</p>
                            <p><span class="data">Region:</span> {{pays_detail.region}}</p>
                            <p><span class="data" v-if="pays_detail.subregion">Sub Region:</span> {{pays_detail.subregion}}</p>
                            <div v-if="pays_detail.capital">
                                <p><span class="data">Capital:</span> {{parseData(pays_detail.capital)}}</p>
                            </div>
                        </div>
                        <div class="details__plus--desktop">
                            <p><span class="data">Top Level Domain:</span> {{parseData(pays_detail.tld)}}</p>
                            <div v-if="pays_detail.currencies">
                                <p><span class="data">Currencies: </span>
                                    <span v-for="(currencies, abreviation) in pays_detail.currencies">
                                    {{currencies.name}}, 
                                    </span> 
                                </p>
                            </div>
                            <div v-if="pays_detail.languages">
                                <p><span class="data">Languages: </span> 
                                    <span v-for="(languages, abreviation) in pays_detail.languages">
                                        {{languages}}, 
                                    </span> 
                                </p>
                            </div>
                        </div>

                    </div>
                        <div class="details__plus borders" v-if="pays_detail.borders">
                            <p><span class="data">Border Countries:</span></p>
                            <div class="border--countries" >
                                <p class="border--countries__element" v-for="border in borders_d">{{border}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>
</html>